<div class="container">
    <h1 class="display-4 mt-5 mb-0"> Fiche de {{ employe.nom }}  {{employe.prenom}} </h1>
    
    <div class="col-md-6 mt-5">
        <p class="font-weight-bold">Nom : {{employe.nom }}</p>
        <p class="font-weight-bold">Prénom : {{ employe.prenom }}</p>
        <p class="font-weight-bold">Adresse Mail : {{ employe.mail }}</p>
        <p class="font-weight-bold">Téléphone : {{ employe.phone }}</p>
        <p class="font-weight-bold">Adresse : {{ employe.adresse }}</p>
    </div>
    
    
    </div>


    
    
   
  