<nav class="navbar navbar-expand-lg shadow navbar-light bg-light">
 <div class="container">
  <a class="navbar-brand" href="#">PTO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     
   <li *ngIf="!loggedIn" class="nav-item" routerLinkActive ="active">
        <a class="nav-link" routerLink="/admin/login">
          Connexion
        </a>
      </li>
        <li *ngIf="loggedIn" class="nav-item" routerLinkActive ="active">
            <a class="nav-link" routerLink="/admin/client">
              Clients
            </a>
          </li>
            <li *ngIf="loggedIn" class="nav-item" routerLinkActive ="active">
                <a class="nav-link" routerLink="/admin/prospect">
                  Prospects
                </a>  
              </li>
              <li *ngIf="loggedIn" class="nav-item" routerLinkActive ="active">
                  <a class="nav-link" routerLink="/admin/cv">
                    CV
                  </a>  
                </li>
                <li *ngIf="loggedIn" class="nav-item" routerLinkActive ="active">
                    <a class="nav-link" routerLink="/admin/employe">
                      Employés
                    </a>  
                  </li>
                <li *ngIf="loggedIn" class="nav-item" routerLinkActive ="active">
                    <a class="nav-link" routerLink="/admin/concurrent">
                      Concurrents
                    </a>  
                  </li>
                  <li *ngIf="loggedIn" class="nav-item" routerLinkActive ="active">
                    <a class="nav-link" routerLink="/admin/project" >
                      Projets
                    </a></li>
                <li *ngIf="loggedIn" class="nav-item" routerLinkActive ="active">
                    <a class="nav-link" routerLink="/admin/planning">
                      Planning
                    </a></li>
                    
      <li *ngIf="loggedIn" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Administration
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/admin/dashboard">Tableau de Bord</a>
          <a class="dropdown-item" style="cursor: pointer;"(click)="onSignOut()">Déconnexion</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="http://ptoconsulting.com/">Se diriger vers le site de l'entreprise</a> 
        </div>
      </li>
      
    </ul>
    
  </div>
 </div>
</nav>