<div class="container">
        <h1 class="display-4 mt-5 mb-0"> Fiche de {{ client.nom }}  {{client.prenom}} </h1>
        
        <div class="col-md-6 mt-5">
            <p class="font-weight-bold">Nom : {{client.nom }}</p>
            <p class="font-weight-bold">Prénom : {{ client.prenom }}</p>
            <p class="font-weight-bold">Adresse Mail : {{ client.mail }}</p>
            <p class="font-weight-bold">Téléphone : {{ client.phone }}</p>
            <p class="font-weight-bold">Adresse : {{ client.entreprise }}</p>
        </div>
        
        </div>
    